{
  "openapi": "3.0.3",
  "info": {
    "title": "Urva Gandhi Portfolio Developer API & MCP Server",
    "description": "Public REST APIs, Model Context Protocol (MCP) server, and developer endpoints providing verified coding statistics, developer profile metadata, and interactive contact handling for Urva Gandhi.",
    "version": "1.0.0",
    "contact": {
      "name": "Urva Gandhi",
      "email": "23bce078@nirmauni.ac.in",
      "url": "https://urvagandhi.tech"
    },
    "x-versioning-policy": "URL path versioning (/v1/) and X-API-Version header parameter. Backward compatibility guaranteed for version 1.",
    "x-deprecation-policy": "Deprecation notices served via Sunset HTTP header 6 months prior to end-of-life."
  },
  "servers": [
    {
      "url": "https://urvagandhi.tech",
      "description": "Primary Production Domain"
    },
    {
      "url": "https://urvagandhi-portfolio.vercel.app",
      "description": "Lifetime Vercel Mirror Domain"
    },
    {
      "url": "https://urvagandhi.tech/v1",
      "description": "Active Domain Versioned Base URL (/v1)"
    }
  ],
  "paths": {
    "/api/leetcode": {
      "get": {
        "operationId": "getLeetCodeStats",
        "summary": "Get LeetCode Statistics",
        "description": "Fetches verified LeetCode profile statistics, global ranking, total problems solved, contest rating, and difficulty breakdown for Urva Gandhi.",
        "security": [],
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "required": false,
            "description": "API version to target. Omit to use the latest stable version (1).",
            "schema": {
              "type": "string",
              "enum": ["1"],
              "default": "1"
            }
          },
          {
            "name": "username",
            "in": "query",
            "required": false,
            "description": "LeetCode handle (defaults to Urva_Gandhi)",
            "schema": {
              "type": "string",
              "default": "Urva_Gandhi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful LeetCode response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeetCodeProfile"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/codeforces": {
      "get": {
        "operationId": "getCodeforcesStats",
        "summary": "Get Codeforces Statistics",
        "description": "Fetches Codeforces contest rating, max rating, rank, and submission metrics.",
        "security": [],
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "required": false,
            "description": "API version to target. Omit to use the latest stable version (1).",
            "schema": {
              "type": "string",
              "enum": ["1"],
              "default": "1"
            }
          },
          {
            "name": "username",
            "in": "query",
            "required": false,
            "description": "Codeforces handle (defaults to Urva_Gandhi)",
            "schema": {
              "type": "string",
              "default": "Urva_Gandhi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Codeforces response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeforcesProfile"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/codechef": {
      "get": {
        "operationId": "getCodeChefStats",
        "summary": "Get CodeChef Statistics",
        "description": "Fetches CodeChef rating, global rank, contest stars, and problems solved.",
        "security": [],
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "required": false,
            "description": "API version to target. Omit to use the latest stable version (1).",
            "schema": {
              "type": "string",
              "enum": ["1"],
              "default": "1"
            }
          },
          {
            "name": "username",
            "in": "query",
            "required": false,
            "description": "CodeChef handle (defaults to urva_gandhi)",
            "schema": {
              "type": "string",
              "default": "urva_gandhi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful CodeChef response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeChefProfile"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/gfg": {
      "get": {
        "operationId": "getGfgStats",
        "summary": "Get GeeksforGeeks Statistics",
        "description": "Fetches GeeksforGeeks overall coding score, streak data, and institute ranking.",
        "security": [],
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "required": false,
            "description": "API version to target. Omit to use the latest stable version (1).",
            "schema": {
              "type": "string",
              "enum": ["1"],
              "default": "1"
            }
          },
          {
            "name": "username",
            "in": "query",
            "required": false,
            "description": "GeeksforGeeks handle (defaults to urvagandhi)",
            "schema": {
              "type": "string",
              "default": "urvagandhi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful GeeksforGeeks response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GfgProfile"
                }
              }
            }
          }
        }
      }
    },
    "/api/hackerrank": {
      "get": {
        "operationId": "getHackerRankStats",
        "summary": "Get HackerRank Statistics",
        "description": "Fetches HackerRank badges, scores, and problem solving achievements.",
        "security": [],
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "required": false,
            "description": "API version to target. Omit to use the latest stable version (1).",
            "schema": {
              "type": "string",
              "enum": ["1"],
              "default": "1"
            }
          },
          {
            "name": "username",
            "in": "query",
            "required": false,
            "description": "HackerRank handle (defaults to urvagandhi24)",
            "schema": {
              "type": "string",
              "default": "urvagandhi24"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful HackerRank response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HackerRankProfile"
                }
              }
            }
          }
        }
      }
    },
    "/api/contact": {
      "post": {
        "operationId": "submitContactInquiry",
        "summary": "Submit Contact Form Inquiry",
        "description": "Delivers an inquiry email directly to Urva Gandhi via Brevo HTTPS REST API.",
        "security": [
          {
            "oauth2": ["profile:write"]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message delivered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "required": false,
            "description": "API version to target. Omit to use the latest stable version (1).",
            "schema": {
              "type": "string",
              "enum": ["1"],
              "default": "1"
            }
          }
        ]
      }
    },
    "/api/mcp": {
      "get": {
        "operationId": "getMcpManifest",
        "summary": "MCP Server Handshake & Capabilities",
        "description": "Returns Model Context Protocol server capabilities, tool declarations, and server metadata.",
        "security": [],
        "responses": {
          "200": {
            "description": "MCP Manifest payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpManifest"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "required": false,
            "description": "API version to target. Omit to use the latest stable version (1).",
            "schema": {
              "type": "string",
              "enum": ["1"],
              "default": "1"
            }
          }
        ]
      },
      "post": {
        "operationId": "callMcpTool",
        "summary": "Execute MCP Tool or Handshake (JSON-RPC 2.0)",
        "description": "Handles MCP JSON-RPC 2.0 requests (initialize, tools/list, tools/call, resources/list, resources/read, ping).",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/McpRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "required": false,
            "description": "API version to target. Omit to use the latest stable version (1).",
            "schema": {
              "type": "string",
              "enum": ["1"],
              "default": "1"
            }
          }
        ]
      }
    },
    "/v1/leetcode": {
      "get": {
        "operationId": "getLeetCodeStats",
        "summary": "Get LeetCode Statistics",
        "description": "Fetches verified LeetCode profile statistics, global ranking, total problems solved, contest rating, and difficulty breakdown for Urva Gandhi.",
        "security": [],
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "required": false,
            "description": "API version to target. Omit to use the latest stable version (1).",
            "schema": {
              "type": "string",
              "enum": ["1"],
              "default": "1"
            }
          },
          {
            "name": "username",
            "in": "query",
            "required": false,
            "description": "LeetCode handle (defaults to Urva_Gandhi)",
            "schema": {
              "type": "string",
              "default": "Urva_Gandhi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful LeetCode response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeetCodeProfile"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/leetcode": {
      "get": {
        "operationId": "getLeetCodeStats",
        "summary": "Get LeetCode Statistics",
        "description": "Fetches verified LeetCode profile statistics, global ranking, total problems solved, contest rating, and difficulty breakdown for Urva Gandhi.",
        "security": [],
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "required": false,
            "description": "API version to target. Omit to use the latest stable version (1).",
            "schema": {
              "type": "string",
              "enum": ["1"],
              "default": "1"
            }
          },
          {
            "name": "username",
            "in": "query",
            "required": false,
            "description": "LeetCode handle (defaults to Urva_Gandhi)",
            "schema": {
              "type": "string",
              "default": "Urva_Gandhi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful LeetCode response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeetCodeProfile"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/codeforces": {
      "get": {
        "operationId": "getCodeforcesStats",
        "summary": "Get Codeforces Statistics",
        "description": "Fetches Codeforces contest rating, max rating, rank, and submission metrics.",
        "security": [],
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "required": false,
            "description": "API version to target. Omit to use the latest stable version (1).",
            "schema": {
              "type": "string",
              "enum": ["1"],
              "default": "1"
            }
          },
          {
            "name": "username",
            "in": "query",
            "required": false,
            "description": "Codeforces handle (defaults to Urva_Gandhi)",
            "schema": {
              "type": "string",
              "default": "Urva_Gandhi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Codeforces response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeforcesProfile"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/codeforces": {
      "get": {
        "operationId": "getCodeforcesStats",
        "summary": "Get Codeforces Statistics",
        "description": "Fetches Codeforces contest rating, max rating, rank, and submission metrics.",
        "security": [],
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "required": false,
            "description": "API version to target. Omit to use the latest stable version (1).",
            "schema": {
              "type": "string",
              "enum": ["1"],
              "default": "1"
            }
          },
          {
            "name": "username",
            "in": "query",
            "required": false,
            "description": "Codeforces handle (defaults to Urva_Gandhi)",
            "schema": {
              "type": "string",
              "default": "Urva_Gandhi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Codeforces response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeforcesProfile"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/codechef": {
      "get": {
        "operationId": "getCodeChefStats",
        "summary": "Get CodeChef Statistics",
        "description": "Fetches CodeChef rating, global rank, contest stars, and problems solved.",
        "security": [],
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "required": false,
            "description": "API version to target. Omit to use the latest stable version (1).",
            "schema": {
              "type": "string",
              "enum": ["1"],
              "default": "1"
            }
          },
          {
            "name": "username",
            "in": "query",
            "required": false,
            "description": "CodeChef handle (defaults to urva_gandhi)",
            "schema": {
              "type": "string",
              "default": "urva_gandhi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful CodeChef response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeChefProfile"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/codechef": {
      "get": {
        "operationId": "getCodeChefStats",
        "summary": "Get CodeChef Statistics",
        "description": "Fetches CodeChef rating, global rank, contest stars, and problems solved.",
        "security": [],
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "required": false,
            "description": "API version to target. Omit to use the latest stable version (1).",
            "schema": {
              "type": "string",
              "enum": ["1"],
              "default": "1"
            }
          },
          {
            "name": "username",
            "in": "query",
            "required": false,
            "description": "CodeChef handle (defaults to urva_gandhi)",
            "schema": {
              "type": "string",
              "default": "urva_gandhi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful CodeChef response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeChefProfile"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/gfg": {
      "get": {
        "operationId": "getGfgStats",
        "summary": "Get GeeksforGeeks Statistics",
        "description": "Fetches GeeksforGeeks overall coding score, streak data, and institute ranking.",
        "security": [],
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "required": false,
            "description": "API version to target. Omit to use the latest stable version (1).",
            "schema": {
              "type": "string",
              "enum": ["1"],
              "default": "1"
            }
          },
          {
            "name": "username",
            "in": "query",
            "required": false,
            "description": "GeeksforGeeks handle (defaults to urvagandhi)",
            "schema": {
              "type": "string",
              "default": "urvagandhi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful GeeksforGeeks response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GfgProfile"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/gfg": {
      "get": {
        "operationId": "getGfgStats",
        "summary": "Get GeeksforGeeks Statistics",
        "description": "Fetches GeeksforGeeks overall coding score, streak data, and institute ranking.",
        "security": [],
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "required": false,
            "description": "API version to target. Omit to use the latest stable version (1).",
            "schema": {
              "type": "string",
              "enum": ["1"],
              "default": "1"
            }
          },
          {
            "name": "username",
            "in": "query",
            "required": false,
            "description": "GeeksforGeeks handle (defaults to urvagandhi)",
            "schema": {
              "type": "string",
              "default": "urvagandhi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful GeeksforGeeks response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GfgProfile"
                }
              }
            }
          }
        }
      }
    },
    "/v1/hackerrank": {
      "get": {
        "operationId": "getHackerRankStats",
        "summary": "Get HackerRank Statistics",
        "description": "Fetches HackerRank badges, scores, and problem solving achievements.",
        "security": [],
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "required": false,
            "description": "API version to target. Omit to use the latest stable version (1).",
            "schema": {
              "type": "string",
              "enum": ["1"],
              "default": "1"
            }
          },
          {
            "name": "username",
            "in": "query",
            "required": false,
            "description": "HackerRank handle (defaults to urvagandhi24)",
            "schema": {
              "type": "string",
              "default": "urvagandhi24"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful HackerRank response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HackerRankProfile"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/hackerrank": {
      "get": {
        "operationId": "getHackerRankStats",
        "summary": "Get HackerRank Statistics",
        "description": "Fetches HackerRank badges, scores, and problem solving achievements.",
        "security": [],
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "required": false,
            "description": "API version to target. Omit to use the latest stable version (1).",
            "schema": {
              "type": "string",
              "enum": ["1"],
              "default": "1"
            }
          },
          {
            "name": "username",
            "in": "query",
            "required": false,
            "description": "HackerRank handle (defaults to urvagandhi24)",
            "schema": {
              "type": "string",
              "default": "urvagandhi24"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful HackerRank response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HackerRankProfile"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contact": {
      "post": {
        "operationId": "submitContactInquiry",
        "summary": "Submit Contact Form Inquiry",
        "description": "Delivers an inquiry email directly to Urva Gandhi via Brevo HTTPS REST API.",
        "security": [
          {
            "oauth2": ["profile:write"]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message delivered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "required": false,
            "description": "API version to target. Omit to use the latest stable version (1).",
            "schema": {
              "type": "string",
              "enum": ["1"],
              "default": "1"
            }
          }
        ]
      }
    },
    "/api/v1/contact": {
      "post": {
        "operationId": "submitContactInquiry",
        "summary": "Submit Contact Form Inquiry",
        "description": "Delivers an inquiry email directly to Urva Gandhi via Brevo HTTPS REST API.",
        "security": [
          {
            "oauth2": ["profile:write"]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message delivered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "required": false,
            "description": "API version to target. Omit to use the latest stable version (1).",
            "schema": {
              "type": "string",
              "enum": ["1"],
              "default": "1"
            }
          }
        ]
      }
    },
    "/v1/mcp": {
      "get": {
        "operationId": "getMcpManifest",
        "summary": "MCP Server Handshake & Capabilities",
        "description": "Returns Model Context Protocol server capabilities, tool declarations, and server metadata.",
        "security": [],
        "responses": {
          "200": {
            "description": "MCP Manifest payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpManifest"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "required": false,
            "description": "API version to target. Omit to use the latest stable version (1).",
            "schema": {
              "type": "string",
              "enum": ["1"],
              "default": "1"
            }
          }
        ]
      },
      "post": {
        "operationId": "callMcpTool",
        "summary": "Execute MCP Tool or Handshake (JSON-RPC 2.0)",
        "description": "Handles MCP JSON-RPC 2.0 requests (initialize, tools/list, tools/call, resources/list, resources/read, ping).",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/McpRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "required": false,
            "description": "API version to target. Omit to use the latest stable version (1).",
            "schema": {
              "type": "string",
              "enum": ["1"],
              "default": "1"
            }
          }
        ]
      }
    },
    "/api/v1/mcp": {
      "get": {
        "operationId": "getMcpManifest",
        "summary": "MCP Server Handshake & Capabilities",
        "description": "Returns Model Context Protocol server capabilities, tool declarations, and server metadata.",
        "security": [],
        "responses": {
          "200": {
            "description": "MCP Manifest payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpManifest"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "required": false,
            "description": "API version to target. Omit to use the latest stable version (1).",
            "schema": {
              "type": "string",
              "enum": ["1"],
              "default": "1"
            }
          }
        ]
      },
      "post": {
        "operationId": "callMcpTool",
        "summary": "Execute MCP Tool or Handshake (JSON-RPC 2.0)",
        "description": "Handles MCP JSON-RPC 2.0 requests (initialize, tools/list, tools/call, resources/list, resources/read, ping).",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/McpRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "required": false,
            "description": "API version to target. Omit to use the latest stable version (1).",
            "schema": {
              "type": "string",
              "enum": ["1"],
              "default": "1"
            }
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://urvagandhi.tech/.well-known/oauth/token",
            "scopes": {
              "profile:read": "Read public developer profile and coding statistics.",
              "profile:write": "Submit a contact inquiry on behalf of an authenticated client."
            }
          },
          "authorizationCode": {
            "authorizationUrl": "https://urvagandhi.tech/.well-known/oauth/authorize",
            "tokenUrl": "https://urvagandhi.tech/.well-known/oauth/token",
            "scopes": {
              "profile:read": "Read public developer profile and coding statistics.",
              "profile:write": "Submit a contact inquiry on behalf of an authenticated client."
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "required": ["type", "title", "status", "code", "detail"],
        "properties": {
          "type": {
            "type": "string",
            "example": "https://urvagandhi.tech/docs/errors/invalid-parameters"
          },
          "title": {
            "type": "string",
            "example": "Bad Request"
          },
          "status": {
            "type": "integer",
            "example": 400
          },
          "code": {
            "type": "string",
            "example": "MISSING_REQUIRED_FIELDS"
          },
          "detail": {
            "type": "string",
            "example": "Name, email, and message fields are required."
          },
          "instance": {
            "type": "string",
            "example": "/api/contact"
          },
          "resolution_hint": {
            "type": "string",
            "example": "Ensure request body contains valid name, email, and message."
          }
        }
      },
      "LeetCodeProfile": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "example": "Urva_Gandhi"
          },
          "solved": {
            "type": "integer",
            "example": 312
          },
          "rating": {
            "type": "integer",
            "example": 1637
          },
          "topPercentile": {
            "type": "string",
            "example": "Top 19.46%"
          },
          "globalRanking": {
            "type": "integer",
            "example": 142500
          }
        }
      },
      "CodeforcesProfile": {
        "type": "object",
        "properties": {
          "handle": {
            "type": "string",
            "example": "Urva_Gandhi"
          },
          "rating": {
            "type": "integer",
            "example": 1350
          },
          "maxRating": {
            "type": "integer",
            "example": 1420
          },
          "rank": {
            "type": "string",
            "example": "pupil"
          }
        }
      },
      "CodeChefProfile": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "example": "urva_gandhi"
          },
          "rating": {
            "type": "integer",
            "example": 1580
          },
          "stars": {
            "type": "string",
            "example": "2★"
          }
        }
      },
      "GfgProfile": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "example": "urvagandhi"
          },
          "score": {
            "type": "integer",
            "example": 450
          }
        }
      },
      "HackerRankProfile": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "example": "urvagandhi24"
          }
        }
      },
      "ContactPayload": {
        "type": "object",
        "required": ["name", "email", "message"],
        "properties": {
          "name": {
            "type": "string",
            "example": "Jane Doe"
          },
          "email": {
            "type": "string",
            "example": "jane@example.com"
          },
          "subject": {
            "type": "string",
            "example": "Engineering Role Inquiry"
          },
          "company": {
            "type": "string",
            "example": "Acme Corp"
          },
          "message": {
            "type": "string",
            "example": "We would love to discuss backend engineering opportunities with you."
          }
        }
      },
      "ContactResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Your message has been delivered to urvagandhi24@gmail.com!"
          }
        }
      },
      "McpManifest": {
        "type": "object",
        "properties": {
          "schema_version": {
            "type": "string",
            "example": "1.0"
          },
          "name": {
            "type": "string",
            "example": "urva-gandhi-portfolio-mcp"
          }
        }
      },
      "McpRequest": {
        "type": "object",
        "required": ["jsonrpc", "method"],
        "properties": {
          "jsonrpc": {
            "type": "string",
            "example": "2.0"
          },
          "id": {
            "type": "integer",
            "example": 1
          },
          "method": {
            "type": "string",
            "example": "tools/call"
          },
          "params": {
            "type": "object"
          }
        }
      },
      "McpResponse": {
        "type": "object",
        "properties": {
          "jsonrpc": {
            "type": "string",
            "example": "2.0"
          },
          "id": {
            "type": "integer",
            "example": 1
          },
          "result": {
            "type": "object"
          }
        }
      }
    }
  }
}
